.profile-pic {
  max-width: 500px;
  width: 40%;
  height: auto;
  border: 2px solid white;
  border-radius: 10px;
  box-shadow: -2px 4px 20px black;
}

.profile-holder {
  position: relative;
  top: -100px;
}
.contact-content {
  top: -100px;
  position: relative;
}
